@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");

:root {
  --main-dark-color: hsl(300, 43%, 22%);
  --main-light-color: hsl(303, 10%, 53%);
  --submain-color: hsl(300, 24%, 96%);
  --description-color: hsl(0, 0%, 100%);
  --description-subsolor: hsl(333, 80%, 67%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "League Spartan", sans-serif;
  font-weight: 600;
  font-size: 15px;
  background-image: url(./images/bg-pattern-top-desktop.svg),
    url(./images/bg-pattern-bottom-desktop.svg);
  background-size: 50%, 50%;
  background-repeat: no-repeat, no-repeat;
  background-position: top left, bottom right;
}

.container {
  min-width: 100vw;
  min-height: 100vh;
}

.content {
  margin: 2rem auto;
  padding: 10px;
  max-width: 900px;
  width: 100%;
}

.about {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  flex-direction: column;
}

.description {
  flex: 0 1 100%;
}

.description h1 {
  color: var(--main-dark-color);
  margin-bottom: 1rem;
  font-size: 40px;
}

.description p {
  color: var(--main-light-color);
  line-height: 1.5rem;
}

.evaluations {
  flex: 0 1 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.evaluation {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 15px 5px 15px 15px;
  gap: 14px;
  align-items: center;
  color: var(--main-dark-color);
  background-color: var(--submain-color);
}

.review-star {
  display: inline-block;
  width: 17px;
  height: 16px;
  background: url("./images/icon-star.svg") no-repeat center center;
}

.logo img {
  gap: 3px;
}

.reviews {
  display: flex;
  gap: 25px;
  flex-direction: column;
}

.profile {
  display: flex;
  margin-bottom: 10px;
  gap: 10px;
}

.picture {
  flex: 0 0 35px;
}

.picture img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.position {
  padding-top: 3px;
  color: var(--description-subsolor);
}

.details {
  display: flex;
  flex-direction: column;
  padding-top: 5px;
}

.review {
  flex: 1;
  position: relative;
  padding: 30px 25px;
  background-color: var(--main-dark-color);
  border-radius: 8px;
  color: var(--submain-color);
  font-weight: lighter;
  font-size: 14px;
}

.comment {
  margin-top: 20px;
  line-height: 18px;
  font-size: 14px;
}

@media (min-width: 900px) {
  .content {
    margin: 7.5rem auto 3rem;
  }

  .about {
    flex-direction: row;
  }

  .description {
    flex-basis: 500px;
  }

  .evaluations {
    flex: 0 0 440px;
  }

  .evaluation {
    flex-direction: row;
    align-items: start;
  }

  .reviews {
    flex-direction: row;
  }

  .first-evaluation {
    margin-right: 80px;
  }

  .second-evaluation {
    margin-left: 40px;
    margin-right: 40px;
  }

  .third-evaluation {
    margin-left: 80px;
  }

  .review:nth-child(1) {
    top: 25px;
  }

  .review:nth-child(2) {
    top: 50px;
  }

  .review:nth-child(3) {
    top: 75px;
  }
}
